*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    height: 100vh;
    width: 100vw;
    background-image: url(https://raw.githubusercontent.com/joffrey7486/Base-Apparel-coming-soon-page.github.io/38c957b95575b377ed9fc774d6a54764a87c6e29/images/bg-pattern-desktop.svg);
    background-size: calc(210vh / 2);
    background-repeat: no-repeat;
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "logo img"
    "h1 img"
    "p img"
    "mail img";
}
.logo{
    grid-area: logo;
    background-image: url(https://raw.githubusercontent.com/joffrey7486/Base-Apparel-coming-soon-page.github.io/193642e1f842b50e6231c35093acbe0987a1da4a/images/logo.svg);
    background-repeat: no-repeat;
    background-size: 11rem;
    margin: 3rem 0 0 5rem;
    transform: translateX(100%);
    animation: comingSide .8s ease forwards;
    opacity: 0;
}
h1{
    grid-area: h1;
    text-transform: uppercase;
    color: #403738;
    font-weight: 400;
    font-size: 5rem;
    margin: 5rem 23rem 0 5rem;
    letter-spacing: 1rem;
    line-height: 5.5rem;
    transform: translateX(-100%);
    animation: comingSide .8s ease forwards;
    opacity: 0;
}
h1 span{
    font-weight: 300;
    color: hsl(0, 36%, 70%);
}
p{
    grid-area: p;
    margin: 2rem 23rem 0rem 5rem;
    font-weight: 400;
    color: hsl(0, 36%, 70%);
    letter-spacing: 1px;
    line-height: 1.5rem;
    transform: translateX(100%);
    animation: comingSide .8s ease forwards;
    opacity: 0;
}
.form_input {
    width: 22rem;
    height: 10rem;
    text-align: center;
    margin: 0 0 0 3rem;
    position: relative;
}
  
.form_input .email {
    width: 310px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50px;
    outline: none;  
    padding-left: 25px;
    border: 1px solid hsl(0, 36%, 70%);
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: hsl(0, 6%, 24%);
}
  
#icon{
    background-image: url(https://raw.githubusercontent.com/joffrey7486/Base-Apparel-coming-soon-page.github.io/2e95771e24b74bb756e79ebc2059b7c00855455e/images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 50px;
    position: absolute;
    right:0;
    margin-right: 60px;
    display: none;
}
  
.form_input .email::placeholder {
    color: hsl(0, 36%, 70%);
    font-weight: 200;
}
  
.form_input .submit {
    width: 60px;
    height: 50px;
    position: absolute;
    right: 0;
    border-radius: 50px;
    border: 1px solid hsl(0, 36%, 70%);
    outline:none;
    cursor: pointer;
  
    background: url(https://raw.githubusercontent.com/joffrey7486/Base-Apparel-coming-soon-page.github.io/40312640670791642011de4ee955ce50d203323c/images/icon-arrow.svg),
      linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    background-repeat: no-repeat;
    background-position: center;
}
.msg {
    margin-top: 20px;
    text-align: left;
    padding-left: 25px;
}
.img{
    grid-area: img;
    background-image: url(https://github.com/joffrey7486/Base-Apparel-coming-soon-page.github.io/blob/main/images/hero-desktop.jpg?raw=true);
    background-size: cover;
    width: 100%;
}
.attribution {font-size: 20px;text-align: center;position: relative;bottom: -1rem;}
.attribution a { color: hsl(228, 45%, 44%); }

@keyframes comingSide {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@media (max-width: 1440px) {
    h1{
        margin: 5rem 15rem 0 5rem;
    }
    p{
        margin: 2rem 12rem 0rem 5rem;
    }
}
@media (max-width: 1200px) {
    .logo{
    margin: 3rem 0 0 2rem
    }
    h1 {
    margin: 4rem 5rem 0 3rem;
    font-size: 4.5rem;
    }
    p {
    margin: 2rem 2rem 0rem 3.5rem;
    }
}
@media(max-width: 768px) {
    .logo {
    margin: 3rem 0 0 1rem;
    }
    h1 {
    margin: 0rem 0rem 0 1rem;
    font-size: 3rem;
    line-height: 4rem;
    }
    p {
    margin: 2rem 0rem 0rem 1rem;
    }
    .form_input {
    margin: 0 0 0 0rem;
    }
}
@media (max-width: 620px) {
    .card{
        background-image: none;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "logo"
        "img"
        "h1"
        "p"
        "mail";
        }
        .logo{
            background-size: auto;
            height: 5rem;
        }
        .img{
            background-image: url(https://github.com/joffrey7486/Base-Apparel-coming-soon-page.github.io/blob/main/images/hero-mobile.jpg?raw=true);
            height: 26rem;
            width: 100vw;
        }
        h1{
            margin: 4rem 5rem 0 5rem;
            font-size: 4rem;
            text-align: center;
            font-weight: 400;
            line-height: 4.5rem;
            letter-spacing: .6rem;
        }
        h1 span{
            font-weight: 300;
        }
        p{
            text-align: center;
            margin: 2rem 6rem 0rem 6rem;
            font-size: 1.1rem;
        }
        .form_input{
            margin: 4rem 0px 0px 7rem;
        }
        .attribution{
            bottom: -20rem;
        }
}
@media (max-width: 425px) {
    .logo{
        width: 18rem;
    }
    h1{
        width: 375px;
        width: 375px;
        margin: 3rem 0 0 0;
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: .3rem;
    }
    p{
        width: 375px;
        margin: 2rem 0rem 0 0rem;
        font-size: .9rem;
    }
    .form_input{
        margin: 4rem 0 0 0rem;
    }
    .attribution{
        bottom: -16rem;
    }
}
@media (max-width: 375px) {
    .attribution{
        bottom: -12rem;
    }
}
